In [1]:
import numpy as np
import pandas as pd

In [2]:
Df = pd.read_csv("D:/Python/PurchasedHistory.csv")

In [3]:
Df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased  Unnamed: 5
0  15624510    Male   19            19000          0         NaN
1  15810944    Male   35            20000          0         NaN
2  15668575  Female   26            43000          0         NaN
3  15603246  Female   27            57000          0         NaN
4  15804002    Male   19            76000          0         NaN
5  15728773    Male   27            58000          0         NaN
6  15598044  Female   27            84000          0         NaN
7  15694829  Female   32           150000          1         NaN
8  15600575    Male   25            33000          0         NaN
9  15727311  Female   35            65000          0         NaN

In [4]:
Df.drop('Unnamed: 5',axis=1)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
X = Df.iloc[:,[2,3]].values
y = Df.iloc[:,4].values

In [8]:
#Divide the dataset into training and testing
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=5)

In [9]:
#Standard Scalar
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [10]:
#SVM Model
from sklearn.svm import SVC
classifier = SVC(kernel='linear',random_state=0)
classifier.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [12]:
#Predict Test Set
y_pred = classifier.predict(X_test)

In [13]:
#Check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.85

In [14]:
#Applying Grid search for the best parameters
from sklearn.model_selection import GridSearchCV
parameters=[{'C':[1,10,100,1000],'kernel':['linear']},
                   {'C':[1,10,100,1000],'kernel':['rbf'],'gamma':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8]}]

grid_search=GridSearchCV(estimator=classifier,
                                        param_grid=parameters,
                                        scoring='accuracy',
                                        cv=10,
                                        n_jobs=-1)
grid_search = grid_search.fit(X_train,y_train)

C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [17]:
accuracy = grid_search.best_score_
accuracy

0.91

In [19]:
grid_search.best_params_

{'C': 10, 'gamma': 0.3, 'kernel': 'rbf'}

In [20]:
classifier = SVC(kernel='rbf',gamma=0.3)

In [21]:
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [22]:
print(metrics.accuracy_score(y_test,y_pred))

0.92